.skill {
  width: 250px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.icon {
  height: 60px;
  width: 60px;
  background-color: #eeeef5;
}

@media (max-width: 960px) {
  .skill {
    margin-top: 20px;
  }
}
