.skillsBlock {
  height: 100vh;
  background-color: brown;
}

.skillsContainer {
  align-items: flex-start;
  flex-direction: column;
}

.title {
  background-color: tomato;
}

.skills {
  /* border: 1px solid; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  .skills {
    justify-content: center;
  }
}
