.project {
  position: relative;
  margin-bottom: 20px;
}

.projectImage img {
  position: relative;
  height: 200px;
  min-width: 250px;
  background-color: brown;
}

.info {
  background-color: violet;
  max-width: 500px;
  padding: 0 15px;
}

.projectImage button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  background-color: blueviolet;
  display: flex;
  justify-content: flex-start;
}

.description {
  background-color: aqua;
  min-width: 200px;
  display: flex;
  justify-content: flex-start;
}
