.project {
  position: relative;
  margin-bottom: 20px;
}

.projectImageContainer {
  height: 200px;
  width: 100%;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-position: center;
  background-image: url('https://avatars.mds.yandex.net/get-mpic/5277279/img_id2574632872461460293.jpeg/600x800');
}

.info {
  background-color: violet;
  max-width: 500px;
  padding: 5px;
}

.projectImageContainer a {
  background-color: blueviolet;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 25px;
  background-color: blueviolet;
  text-align: center;
  cursor: pointer; */
}

.title {
  background-color: blueviolet;
  display: flex;
  justify-content: flex-start;
}

.description {
  background-color: aqua;
  min-width: 200px;
  display: flex;
  justify-content: flex-start;
}
